<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.model.dao.AuthMapper">

  <!-- <select id="getId" resultType="userDto" >
    SELECT * FROM userinfo WHERE user_email=#{user_email}
    </select> -->
  </mapper>