<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.model.dao.CustomMapper">

    <select id="getUserCustom" parameterType="HashMap" resultType="java.lang.Boolean">
        SELECT IF(COUNT(*) = 1, 1, 0) FROM custom_table where user_email=#{user_email}
    </select> 

    <insert id="saveFont"  parameterType="CustomDto">
        INSERT INTO custom_table (custom_font, user_email) values ( #{custom_font}, #{user_email})
    </insert>

    <insert id="updateFont">
        update custom_table set custom_font = #{custom_font} where user_email = #{user_email}
    </insert>
</mapper>