<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.model.dao.DiaryMapper">
  
  <insert id="saveQuill">
   INSERT INTO diary_table(user_email, diary_title, diary_content, diary_date, emoji_image_id, diary_create_write) VALUES (#{email}, #{title}, #{content}, #{diaryDate}, #{emojiImageId}, #{diaryCreateWrite})
  </insert>

  <select id="getBoard" resultType="DiaryDto">
	SELECT * FROM diary_table
  </select> 
</mapper>