<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.model.dao.FaqMapper">

  <select id="getAllList" resultType="FaqEntity">
  select * from faq_table
  </select>

  <select id="searchData" resultType="FaqEntity">
  select * from faq_table
  <choose>
  <when test="selectContent == 'all'">
   where (faq_title like concat('%',#{searchKeyWord},'%') or faq_content like concat('%',#{searchKeyWord},'%'))
  </when>
  <when test="selectContent == 'title'">
   where faq_title like concat('%',#{searchKeyWord},'%') 
  </when>
  <when test="selectContent == 'content'">
   where faq_content like concat('%',#{searchKeyWord},'%') 
  </when>
  </choose>
      <if test ="selectCategory != 'category'">
    and faq_category = #{selectCategory}
  </if>
  </select>

  </mapper>