<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.demo.model.dao.FaqMapper">

  <select id="getAllList" resultType="FaqEntity">
  select * from faq_table
  </select>

  <select id="searchData" resultType="FaqEntity">
  select * from faq_table
  <if test="selectContent == 'all' and searchKeyWord !=null or searchKeyWord !=''" >
    <if test ="selectCategory != 'category'">
        where faq_category = #{selectCategory} or faq_title like concat('%',#{searchKeyWord},'%') or faq_content like concat('%',#{searchKeyWord},'%')
    </if>  
    <if test ="selectCategory == 'category'">
        where faq_title like concat('%',#{searchKeyWord},'%') or faq_content like concat('%',#{searchKeyWord},'%')
    </if>
  </if>
  <!-- <if test="selectContent == 'title' and searchKeyWord !=null or searchKeyWord !='' or selectCategory != 'category'">
  where faq_category = #{selectCategory} and faq_title like concat('%',#{searchKeyWord},'%') 
  </if> -->
  </select>

  </mapper>