.serviceCenterPage {
  height: 716px;
  border: 1px solid #9f5f88;
  background-color: #f2c8de;

  // 공통 css
  .mt2 {
    margin-top: 23px;
  }
  .pixelBorder {
    border-left: 1px solid #fdd8ed;
    border-top: 1px solid #fdd8ed;
  }
  .noneB {
    border-bottom: none;
  }
  .setCursor {
    cursor: pointer;
  }
  // 지워야 함
  // font-family: "DungGeunMo";

  .webHeader {
    padding: 11px 23px;
    background: linear-gradient(to right, #f49bca, #efbcd7);
    display: flex;
    align-items: center;
    position: relative;
    color: #d63384;
  }
  .headerButton {
    position: absolute;
    right: 9px;
    display: flex;
  }
  .downB {
    background-color: #e9c3d7;
    box-shadow: 2.5px 2.5px #986882;
    margin-right: 7px;
  }
  .webContent {
    padding: 27px;
  }
  #tabCustom-tab-FAQ, #tabCustom-tab-문의하기, #tabCustom-tab-웹정보{
    padding: 6px 13px;
    background-color: #f2c8de;
    border-left: 1px solid #fdd8ed;
    border-top: 1px solid #fdd8ed;
    box-shadow: 2.5px 0px #986882;
    margin-right: 5px;
    color: #d63384;
  }
  #tabCustom-tab-FAQ:active, #tabCustom-tab-문의하기:active, #tabCustom-tab-웹정보:active {
    box-shadow: 2.5px 2.5px #986882 inset;
  }
  .nav-tabs .nav-link.active {
    background-color: #d63384 !important;
    color: #fff!important;
    box-shadow: 2.5px 2.5px #db7dae inset !important;
  }
  .errorFont{
    margin-left: 7px;
    // margin-top: 8px;
    font-size: 13px; color: #c8294b;
  }
  .vibration {
    animation: vibration 0.2s infinite;
  }
  @keyframes vibration {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(-1deg);
    }
  }

  // Faq 
  .faqSearchD{
    text-align: center;
    padding: 12px 0px 26px;
  }
  .faqSelectB{
    color: #d63384;
    padding: 2px 3px;
    // border-color: #fd81bf #f8ecf3 #f8ecf3 #fd81bf;
    border-color: #d63384;
    margin-right: 5px;
    text-align: center;
    box-shadow: 2.5px 2.5px #f3bddd;
    position: relative;
  }
  .faqSelectB:focus, .faqSearchI:focus{
    outline-color: #d63384;
  }
  .faqSelectB:after{
    content: "e";
    position: absolute;
    width: 1px;
    height: 1px;
    margin-top: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
  }
  .faqSearchI{
    color: #d63384;
    padding: 3px 5px 2.5px 5px;
    border: 1px solid #d63384;
    margin-right: 5px;
  }
  .faqSubmit{
    background-color: #d63384;
    color: #fff;
    padding: 3px 5px 2.5px 5px;
    border-color: #fdd8ed #fd81bf #fd81bf #fdd8ed;
  }
  .faqAccordionD{
    height: 442px;
    margin: 0 auto;
    width: 90%;
    overflow: auto;
  }
  .accordion-item{
    border-bottom-right-radius:none;
    border-bottom-left-radius: none;
}
  .accordion-item{
    border: 1px solid #ffaacf;
  }
  .accordion-button{
    padding:10px;
    position: relative;
  }
  .accordion-button::after {
    position: absolute;
    right: 17px;
    top: 7px;
    content: '';
    width: 12px;
    height: 12px;
    border-top: 2px solid #d63384;
    border-right: 2px solid #d63384;
    transform: rotate(135deg);
    background-image: none;
}
.accordion-body{
  max-width: 100%;
}
.accordion-body span{
  font-size: 15px;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background: linear-gradient(to left, #f2d6e2, #e772cb);
}
.accordion-button:focus {
  // border-color: #fffce1;
}
  .faqPaginationD{
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  // 문의하기
  .contactUsTap {
    height: 593px;
    padding: 25px 10px;
    box-shadow: 2.5px 2.5px #986882;
    position: relative;
    color: #d63384;
  }
  .writeTitle {
    display: flex;
    align-items: center;
  }
  .checkBox {
    width: 45px;
  }
  .writeAareaWrap {
    margin: 0 auto;
    width: 91%;
  }
  .inputResize {
    width: 93%;
    height: 200px;
    overflow: scroll;
  }
  .writeAarea {
    margin-top: 3px;
    padding: 10px;
    box-shadow: 2.5px 2.5px #986882 inset;
    resize: none;
    border-color: #d63384;
  }
  .writeAarea:focus{
    outline-color: #d63384;
  }
  .-mt2{
    margin-top: -6px;
  }
/* 스크롤바의 너비 */
.inputResize::-webkit-scrollbar {
  width: 14px;
}
/*스크롤바 위 아래 버튼 색상*/
.inputResize::-webkit-scrollbar-button {
  background: #fdcee8;
border: 1px solid #f8a7ce;  
}
.inputResize::-webkit-scrollbar-button:start:decrement{
background: url(../../resource/image/topArrow.png) no-repeat center 50%;
}
.inputResize::-webkit-scrollbar-button:end:increment {
  background: url(../../resource/image/downArrow.png) no-repeat center 50%;
}
.inputResize::-webkit-scrollbar-button:horizontal:increment  {
  background: url(../../resource/image/rightArrow.png) no-repeat center 50%;
}
.inputResize::-webkit-scrollbar-button:horizontal:decrement {
  background: url(../../resource/image/leftArrow.png) no-repeat center 50%;
}
/*스크롤바 버튼 사이 색상*/
.inputResize::-webkit-scrollbar-corner {
  background: #ffe9f7;
}
/* 스크롤바의 색상 */
.inputResize::-webkit-scrollbar-thumb {
  background: #fdcee8;
border: 1px solid #f8a7ce;
}
/*스크롤바 뒷 배경 색상*/
.inputResize::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  background: #ffe9f7;
}
.inputResize::-webkit-scrollbar-arrow-color{
background-color: #f8a7ce;
}
  .onCheckEvent {
    position: relative;
  }
  .checkPoint {
    position: absolute;
    top: 47%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 50px;
  }
  .buttonWrap{
    text-align: center;
    margin-top: 52px;
  }
  .submitB{
    padding: 5px 20px;
    background-color: #f2c8db;
    box-shadow: 2.5px 2.5px #986882;
    border-bottom: none;
    border-right: none;
  }
}
