.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .logo{
        color: #f39ecb;
        font-size: 21px;
    }
    .menuWrap{
        display: flex;
        position: absolute;
        right: 0;
    }
    .customMenu{
        margin-right: 5px;
        background-color: 'red';
    }
    .userName{
        margin: 0px 3px;
    }
}