.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 29px;

    .logo{
        color: #f39ecb;
        font-size: 21px;
    }
    a{
        text-decoration: none;
    }
    .menuWrap{
        display: flex;
        position: absolute;
        right: 0;
    }
    .customMenu{
        margin-right: 5px;
    }
    .userName{
        margin: 0px 3px;
    }
    .customMenu a{
        text-decoration: none;
        color: #d63384;
    }
    .login{
        margin-top: 9px;
        color: #d63384;
    }
    // dropdown메뉴 커스텀 
    .dropdownTitle{
        color: #d63384;
    }
    .activeDropdownTitle{
        background-color: #d63384;
    }
    .dropdownMenu{
        background-color: #f7b3d6;
        border: 3px solid #f7b3d6;
        border-left: 1px solid #fdd8ed;
        border-top: 1px solid #fdd8ed;
        box-shadow: 2.5px 2.5px #986882;
        border-radius: 0px;
    }
    .dropdown-menu{
        --bs-dropdown-link-hover-bg: #f7b3d6;
        --bs-dropdown-link-active-bg: #f7b3d6;
    }
    .dropdownMenu a {
        color: #d63384;
    }
    .dropdownSelect{
        margin-top: 8px;
    }
    .form-select {
        border-radius: 0px;
        padding: 2px 5px;
        width: 71%;
        border-color: #d63384;
        box-shadow: 2.5px 2.5px #986882 inset;
        background-color: #fde5f3;
    }
    .fontB{
        margin-left: 5px;
        background-color: #fdd8ed;
        border: none;
        border-left: 1px solid #fdd8ed;
        border-top: 1px solid #fdd8ed;
        box-shadow: 2.5px 2.5px #986882;
        color: #d63384;
    }
    .fontB:active{
        border:none;
        box-shadow: 2.5px 2.5px #986882 inset;
        background-color: #fde5f3;
    }
}