.main {

  .mainWrap {
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
  }

  .mainContentWarp {
    margin-top: 40px;
  }

  .mainLayoutTab {
    display: flex;
    text-align: center;
  }

  .calendarTab,
  .graphTab {
    cursor: pointer;
    color: #fff;
    width: 112px;
    height: 34px;
    background-color: #f2c8de;
    border-left: 1px solid #fdd8ed;
    border-top: 1px solid #fdd8ed;
    box-shadow: 2.5px 0px #986882;
    margin-right: 6px;
    padding: 9px;
  }

  .tabActive {
    cursor: pointer;
    box-shadow: 2.5px 2.5px #986882 inset;
    width: 112px;
    color: #d63384;
    padding-top: 10px;
  }

  .tabB {
    background-color: #fde5f3;
    margin-right: 6px;
  }

  .activeBorder {
    width: 112px;
    height: 78%;
    margin: 4px 3px 2px;
    background-color: #fde5f3;
    color: #d63384;
    padding: 5px;
  }

  .calendarTab {
    border-right: none;
    align-items: center;
  }

  .mainContent {
    border-left: 1px solid #fdd8ed;
    border-top: 1px solid #fdd8ed;
    box-shadow: 2.5px 2.5px #986882;
    height: 716px;
  }

  .mainInner {
    background-color: #f2c8de;
    color: #d63384;
  }
  .innerpdding{
    padding: 7px 25px;
  }

  // 로그인/ 회원가입 페이지 
  .mainLogo {
    text-align: center;
    padding: 3px 0 30px 0;
  }

  .logo {
    color: #f39ecb;
    font-size: 21px;
  }

  .mainLogo a {
    text-decoration: none;
  }
}