.boardPage {
  padding: 55px 40px 29px;

  // write 페이지 
  .dateDiv {
    position: relative;
  }

  .date {
    font-weight: 600;
    font-size: 16px;
  }

  .emojiImage {
    width: 51px;
    position: absolute;
    top: -19px;
    margin-left: 5px;
  }

  .title {
    padding: 24px 0 15px;
    font-weight: 500;
    font-size: 15px;
  }
  .titleInput{
    border-radius: 0;
    border: 1px solid #d63384;
    box-shadow: 2.5px 2.5px #986882 inset;
    font-size: 15px;
    // background-color: #fde5f3;
  }
  .ql-toolbar{
    background-color: #fff;
    border: 1px solid #d63384;
    box-shadow: 2.5px 2.5px #986882 inset;
  }
  .ql-container{
    background-color: #fff;
    border: 1px solid #d63384;
    box-shadow: 2.5px 0 #986882 inset;
    color: #000000;
    font-family: 'DungGeunMo';
  }

  .sendButtonWrap {
    text-align: center;
    margin-top: 57px;
  }

  .sendButton {
    cursor: pointer;
    border: none;
    border-radius: 0;
    padding: 7px 57px;
    background-color: #d63384;
    border-left: 1px solid #fdd8ed;
    border-top: 1px solid #fdd8ed;
    box-shadow: 2.5px 2.5px #986882;
    color: #fff;
  }

  .btn-primary {
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #f574b4;
    --bs-btn-active-border-color: #db5397; 
    --bs-btn-active-shadow: 2.5px 2.5px #986882 inset;
  }

  // edit 페이지 
  .boardScroll {
    height: 652px;
    margin-top: -23px;
    border: 1px solid #db5397;
  }
.autoScroll{
  overflow: auto;
}
  .editPage {
    background-color: white;
    height: 700px;
    margin-bottom: 20px;
    padding: 22px 30px 30px;
  }

  .editContent {
    height: 480px;
    overflow: auto;
  }

//   .editContent::-webkit-scrollbar {
//     width: 12px;
//     /* 스크롤바의 너비 */
//   }

//   .editContent::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     background: #f8c20f;
//     /* 스크롤바의 색상 */
//   }

//   .editContent::-webkit-scrollbar-track {
//     border-radius: 10px;
//     background: rgba(131, 95, 3, 0.1);
//     /*스크롤바 뒷 배경 색상*/
//   }

  .editContent img {
    width: auto;
    max-width: 1000px;
  }

  .sendButtonWrap2 {
    text-align: center;
    margin-top: 17px;
  }

  .sendButtonWrap2 Button {
    margin-right: 20px;
  }

//   // edit페이지 
//   .clickEmoji{
//     cursor: pointer;
//   }
}