#grapPage{
    background-color: #fff;
    padding: 7px 25px;
    border-radius: 20px;
    border: none;
    height: 700px;
    position: relative;
    
    .selectOp{
        margin: 10px 0 18px 0;
    }
    .selectMonth{ 
        position: absolute;
        left: 150px;
        top: 17px;
    }

    // yearChart 
    .yearChartTooltip{
        padding: 8px;
        box-shadow: 2px 2px #5c596a;
        background-color: #fff;
    }

    // progressBar 
    .moodTitle{
        margin: 15px 0;
    }
    .progress {
        --bs-progress-height: 24px;
        --bs-progress-bar-bg: none;
        --bs-progress-font-size: 15px;
    }
    .moodPercent0{
        background-color: #f39191;
    }
    .moodPercent1{
        background-color: #FFF994;
    }
    .moodPercent2{
        background-color: #D0FAAF;
    }
    .moodPercent3{
        background-color: #DDCEF1;
    }
    .moodPercent4{
        background-color: #8DB0ED;
    }
    .moodPercent5{
        background-color: #DC6060;
    }
    .emojiImage{
        display:flex; 
        justify-content: center;
    }
    .emoji_percent{
        margin-top: 10px;
        text-align: center;
    }
}