#grapPage{
    background-color: #fff;
    padding: 7px 25px;
    border-radius: 20px;
    border: none;
    height: 700px;
    position: relative;
    
    .selectOp{
        margin-top: 10px;
    }
    .selectMonth{ 
        position: absolute;
        left: 150px;
        top: 17px;
    }

    // progressBar 
    .moodTitle{
        margin: 10px 0;
    }
    .test{
        // height: 25px;
    }
    .moodPercent0{
        background-color: antiquewhite;
        // border-radius: 0px 0px 10px 10px;
    }
    .moodPercent1{
        background-color: rgb(126, 90, 43);
        // border-radius: 0;
    }
    .moodPercent2{
        background-color: rgb(74, 44, 3);
        // border-radius: 0;
    }
    .moodPercent3{
        background-color: rgb(174, 119, 41);
        // border-radius: 0;
    }
    .moodPercent4{
        background-color: rgb(31, 126, 87);
        // border-radius: 0;
    }
    .moodPercent5{
        background-color: rgb(41, 90, 174);
    }
    .emojiImage{
        display: flex;
    }
}