.registPage {
    font-family: 'DungGeunMo';

  .regist_inner {
    // text-align: center;
    margin: 0 auto;
    width: 730px;
    height: 740px;
    background: linear-gradient( to right, #f2d6e2, #e772cb );
    border: 1px solid #bf84ad;
    box-shadow: 2.5px 2.5px #986882;
    padding: 30px 35px 10px;
  }
  .regist_title{
    text-align: center;
    margin-bottom: 20px;
    color: #f5eaf1;
  }
  .title1{
    margin-bottom: 10px;
    font-size: 29px;
  }
  .regist_input{
    padding: 17px 30px 20px;
    border-left: 1px solid #fef2f9;
    border-top: 1px solid #fef2f9;
    box-shadow: 2.5px 2.5px #986882;
    border-radius: 5px;
    background-color: #f8e8ef;
    height: 550px;
    position: relative;
  }
  .writeTitle{
    padding: 32px 0 5px;
  }
  .writeAarea{
    padding: 6px;
    box-shadow: 1.5px 1.5px #986882 inset;
  }
  .buttonWrap{
    position: absolute;
    bottom: 33px;
    left: 50%;
    transform: translateX(-50%);
  }  
  .errorFont{
    margin-top: 5px;
    font-size: 13px; color: #c8294b;
  }
  .validFont{
    margin-top: 5px;
    font-size: 13px; color: #239a23;
  }
  .vibration {
    animation: vibration2 0.2s infinite;
  }
  @keyframes vibration2 {
    from {
        transform: translateX(5px);
    }
    to {
        transform: translateX(-5px);
    }
  }
  .submitB{
    padding: 5px 20px;
    background-color: #f2c8db;
    box-shadow: 2.5px 2.5px #986882;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #fdd8ed;
    border-top: 1px solid #fdd8ed;
  }

  // 로그인 페이지
  .forgetUser{
    font-size: 14px; color: #986882;
    padding: 30px 0px 20px;
  }
}
