/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
// reset css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// reset css에서 추가 
/* 스크롤바의 너비 */
.boardScroll::-webkit-scrollbar {
    width: 14px;
}
/*스크롤바 위 아래 버튼 색상*/
.boardScroll::-webkit-scrollbar-button {
    background: #fdcee8;
	border: 1px solid #f8a7ce;  
}
.boardScroll::-webkit-scrollbar-button:start:decrement {
	background: url(./resource/image/topArrow.png) no-repeat center 50%;
}
.boardScroll::-webkit-scrollbar-button:end:increment {
	background: url(./resource/image/downArrow.png) no-repeat center 50%;
}
.inputResize::-webkit-scrollbar-button:horizontal:increment  {
	background: url(./resource/image/rightArrow.png) no-repeat center 50%;
  }
  .inputResize::-webkit-scrollbar-button:horizontal:decrement {
	background: url(./resource/image/leftArrow.png) no-repeat center 50%;
  }
/*스크롤바 버튼 사이 색상*/
.boardScroll::-webkit-scrollbar-corner {
    background: #ffe9f7;
}
 /* 스크롤바의 색상 */
.boardScroll::-webkit-scrollbar-thumb {
    background: #fdcee8;
	border: 1px solid #f8a7ce;
}
/*스크롤바 뒷 배경 색상*/
.boardScroll::-webkit-scrollbar-track-piece {
    border-radius: 0px;
    background: #ffe9f7;
}
.boardScroll::-webkit-scrollbar-arrow-color{
	background-color: #f8a7ce;
}
.btn-primary {
	--bs-btn-bg: none;
	--bs-btn-hover-bg: none;
	--bs-btn-active-bg: none;
	--bs-btn-color: rgb(0, 0, 0);
	border: none;
}
