// @import "~bootstrap/scss/bootstrap";

#calendarPage {
  padding: 0px ;
  border-radius: 20px;
  border: none;

  .test{
    background-color: #D4C8F2;
    // box-shadow: 2px 2px #5C596A;
    cursor: pointer;
    width: 167px;
    height: 35px;
  }
  // 캘린더 내용 
  .btn-primary{
    --bs-btn-bg:none;
    --bs-btn-border-color:none;
    --bs-btn-hover-bg: #ada3c7;
    --bs-btn-active-bg: #D4C8F2;
    --bs-btn-border-radius: 20px;
    width: 167px;
    height: 35px;
    text-align: left;
  }
// .fc-daygrid-event-harness{
//   text-decoration-line: none;
//   cursor: pointer;
//   background-color: #ffc700;
// }
.calendarEmoji{
  vertical-align:middle;
  width: 30px;
  margin-right: 8px;
}
.calendarTitle{
  text-decoration-line: none;
}
.calendarInner{
  font-size: 13px;
}
}
// 이모지 선택 모달
#selectEmojiModal {
  text-align: center;
  .title {
    margin : 35px 0;
    font-weight: 600;
    font-size: 24px;
    color: #555;
  }
  .emojiWrap{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .emojiWrap img{
    cursor: pointer;
    width: 100px;
  }
  .closeButton{
    margin-top: 35px;
    border: none;
    padding: 7px 70px;
    color: white;
    border-radius: 20px;
    background-color: #ffc700;
  }

  #calendar{
    background-color: #ada3c7;
    .fc .fc-toolbar.fc-header-toolbar {
      margin-bottom: 0.5em;
  }
  }

}
