// @import "~bootstrap/scss/bootstrap";

#calendarPage {
  padding: 0px ;
  border-radius: 20px;
  border: none;
  color: #d63384;
  
  a{
    color: #d63384;
    // color: #fff;
  }
  .test{
    background-color: #eba0d4;
    cursor: pointer;
    width: 167px;
    height: 35px;
  }
 .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    color: #fff;
    background: none;
    border-left: 1px solid #fdd8ed;
    border-top: 1px solid #fdd8ed;
    box-shadow: 2.5px 2.5px #986882;
    border-right: none; border-bottom: none;
    margin-right: 7px;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: -1px;
  background: none;
  box-shadow: 2.5px 2.5px #986882;
  border-left: 1px solid #fdd8ed; border-top: 1px solid #fdd8ed;
  border-right: none; border-bottom: none;
}
  // 캘린더 내용 
  .btn-primary{
    --bs-btn-bg:none;
    --bs-btn-border-color:none;
    --bs-btn-hover-bg: #eba0d4;
    --bs-btn-active-bg: #eba0d4;
    --bs-btn-border-radius: 20px;
    width: 167px;
    height: 35px;
    text-align: left;
  }
.calendarEmoji{
  vertical-align:middle;
  width: 30px;
  margin-right: 8px;
}
.calendarTitle{
  text-decoration-line: none;
}
.calendarInner{
  font-size: 13px;
}
}
// 이모지 선택 모달
// #selectEmojiModal {
//   text-align: center;
//   .title {
//     margin : 35px 0;
//     font-weight: 600;
//     font-size: 24px;
//     color: #555;
//   }
//   .emojiWrap{
//     display:flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .emojiWrap img{
//     cursor: pointer;
//     width: 100px;
//   }
//   .closeButton{
//     margin-top: 35px;
//     border: none;
//     padding: 7px 70px;
//     color: white;
//     border-radius: 20px;
//     background-color: #ffc700;
//   }

//   #calendar{
//     background-color: #ada3c7;
//     .fc .fc-toolbar.fc-header-toolbar {
//       margin-bottom: 0.5em;
//   }
//   }

// }
